.form-group-date{
  margin: 5px;
}
.form-group-personalId{
  margin: 5px;
}
.search-app{
  margin:30px ;
}
.search-btn{
  margin: 0 10px;
}
.search-form{
  display: flex;
  width: auto;
  height: auto;
  margin: 5px;
}

